@{
    ViewBag.Title = "About";
}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<link href="~/stylesheet/about.css" rel="stylesheet" />
<diV id="myCarousel1" class="carousel slide" data-ride="carousel" data-aos="zoom-in">
    <Ul class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel1" data-slide-to="1"></li>
        <li data-target="#myCarousel1" data-slide-to="2"></li>
        <li data-target="#myCarousel`" data-slide-to="3"></li>
    </Ul>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img id="br1" src="~/IMG/5.jpg" />
            <div class="carousel-caption">
                <h2>SINCE 1994</h2>
            </div>
        </div>
        <div class="item">
            <img src="~/IMG/24.jpg" />
            <div class="carousel-caption">
                <h2>НАЙБОЛЬШАЯ ФАНБАЗА В УКРАИНЕ</h2>
                <br />
            </div>
        </div>
        <div class="item">
            <img src="~/IMG/27.jpg" />
            <div class="carousel-caption">
                <h2>ЛУЧШИЙ ЯПОНСКИЙ СЕРВИС В УКРАИНЕ </h2>
                <br />
            </div>
        </div>
        <div class="item">
            <img src="~/IMG/118.jpg" />
            <div class="carousel-caption">
                <h2>ЛУЧШИЙ ДИЗАЙН АВТО В СТРАНЕ </h2>
                <br />
            </div>
        </div>
    </div>
    <!--end slider-->


    <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">next  </span>
    </a>
</diV>

<div class="container text-center">
    <div class="row">
        <div class="col-md-6" data-aos="fade-up-right" data-aos-delay="500" data-aos-duration="1000"><img src="~/IMG/4.jpg" class="img-responsive" /></div>
        <div class="col-md-6" data-aos="flip-down" data-aos-delay="1000" data-aos-duration="1000">

            <h3>НАШИ РАБОТЫ</h3>
            <p>
                Наша работа стоит столько, сколько вы готовы заплатить за эксклюзив и уникальную возможность быть владельцем яркого и стильного автомобиля – дорого, но в разумных пределах. Мы же гарантируем филигранную проработку всех деталей выбранной программы тюнинга авто, с использованием высококачественной продукции лучших мировых производителей: оптики, колёс, проставок, резины, аэродинамических обвесов...
                У нас есть эксклюзивное предложение по тюнингу автомобилей для тех, кто знает, чего хочет и готов платить за возможность быть избранным. Мы выполняем индивидуальные заказы высокой сложности с проведением любых работ по внутреннему и внешнему тюнингу авто! Проще говоря, мы предлагаем взаимовыгодный обмен: от вас – мечта, от нас – ее воплощение в вашем автомобиле.
                Благодаря развитой дилерской сети,
                тесным контактам с производителями лучших деталей для тюнинга
                (Techart, AMG, Lumma, Brabus, Gemballa, Mansory, Arden), мы привлечем к
                выполнению тюнинга автомобиля, принадлежащего вам, самых квалифицированных специалистов.
                Компания NITRO+ исполнит ваши мечты – по высшему разряду!
            </p>
        </div>

    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-md-6" data-aos="zoom-in-down" data-aos-delay="500" data-aos-duration="1000">
            <h3>О НАШЕМ СЕРВИСЕ</h3>
            <p>
                Мы знаем, что Вы любите Ваш автомобиль и прекрасно понимаем насколько для Вас важно улучшить
                машину так, чтобы она отличалась от других и одновременно отлично Вам подходила.
                Для начала мы обеспечиваем клиентов всей необходимой информацией для того, чтобы Вы смогли
                выбрать наиболее подходящий Вам комплект. Мы даем наиболее детальную информацию о продукте, что
                его отличает от других брендов, каким машинам они подходят и каков процесс и срок установки,
                каковы гарантии качества и система возврата. Будем рады видеть Вас в нашем Московском офисе и
                сделаем все, чтобы превратить Ваш автомобиль в индивидуальный, эксклюзивные супер-кар за разумные
                деньги…
                Тюнинг автомобилей, как создание эксклюзива для тех, кто желает иметь лучшее – это наша работа.
                Мы гордимся тем, что предоставляем клиентам качественные услуги: от консультирования по выбору программы
                автотюнинга и предоставления оперативной информации о новинках tuning -
                индустрии до профессионального кузовного ремонта и технического обслуживания автомобилей любых марок.
            </p>
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000"><img src="~/IMG/2.jpg" class="img-responsive" /></div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-md-6" data-aos="fade-up-right" data-aos-delay="500" data-aos-duration="1000"><img src="~/IMG/s2.jpg" class="img-responsive" /></div>
        <div class="col-md-6" data-aos="flip-down" data-aos-delay="1000" data-aos-duration="1000">

            <h3>НАШИ ПРОФЕСИОНАЛЬНЫЕ РАБОЧИЕ</h3>
            <p>
                Мы знаем, что Вы любите Ваш автомобиль и прекрасно понимаем насколько для Вас важно улучшить
                машину так, чтобы она отличалась от других и одновременно отлично Вам подходила.
                Для начала мы обеспечиваем клиентов всей необходимой информацией для того, чтобы Вы смогли
                выбрать наиболее подходящий Вам комплект. Мы даем наиболее детальную информацию о продукте, что
                его отличает от других брендов, каким машинам они подходят и каков процесс и срок установки,
                каковы гарантии качества и система возврата. Будем рады видеть Вас в нашем Московском офисе и
                сделаем все, чтобы превратить Ваш автомобиль в индивидуальный, эксклюзивные супер-кар за разумные
                деньги…
                Тюнинг автомобилей, как создание эксклюзива для тех, кто желает иметь лучшее – это наша работа.
                Мы гордимся тем, что предоставляем клиентам качественные услуги: от консультирования по выбору программы
                автотюнинга и предоставления оперативной информации о новинках tuning -
                индустрии до профессионального кузовного ремонта и технического обслуживания автомобилей любых марок.
            </p>
        </div>

    </div>
</div>
<BR />
<div class="container text-center">
    <div class="row">
        <div class="col-md-6" data-aos="fade-up-right" data-aos-delay="500" data-aos-duration="1000"><img src="~/IMG/s1.jpg" class="img-responsive" /></div>
        <div class="col-md-6" data-aos="flip-down" data-aos-delay="1000" data-aos-duration="1000">

            <h3>НАШ ПРОДУКТИВНЫЙ И ТАЛАНТЛИВЫЙ ДИЗАЙНЕР - Леви</h3>
            <p>
                Наша работа стоит столько, сколько вы готовы заплатить за эксклюзив и уникальную возможность быть владельцем яркого и стильного автомобиля – дорого, но в разумных пределах. Мы же гарантируем филигранную проработку всех деталей выбранной программы тюнинга авто, с использованием высококачественной продукции лучших мировых производителей: оптики, колёс, проставок, резины, аэродинамических обвесов...
                У нас есть эксклюзивное предложение по тюнингу автомобилей для тех, кто знает, чего хочет и готов платить за возможность быть избранным. Мы выполняем индивидуальные заказы высокой сложности с проведением любых работ по внутреннему и внешнему тюнингу авто! Проще говоря, мы предлагаем взаимовыгодный обмен: от вас – мечта, от нас – ее воплощение в вашем автомобиле.
                Благодаря развитой дилерской сети,
                тесным контактам с производителями лучших деталей для тюнинга
                (Techart, AMG, Lumma, Brabus, Gemballa, Mansory, Arden), мы привлечем к
                выполнению тюнинга автомобиля, принадлежащего вам, самых квалифицированных специалистов.
                Компания NITRO+ исполнит ваши мечты – по высшему разряду!
                Мы знаем, что Вы любите Ваш автомобиль и прекрасно понимаем насколько для Вас важно улучшить
                машину так, чтобы она отличалась от других и одновременно отлично Вам подходила.
                Для начала мы обеспечиваем клиентов всей необходимой информацией для того, чтобы Вы смогли
                выбрать наиболее подходящий Вам комплект. Мы даем наиболее детальную информацию о продукте, что
                его отличает от других брендов, каким машинам они подходят и каков процесс и срок установки,
                каковы гарантии качества и система возврата. Будем рады видеть Вас в нашем Московском офисе и
                сделаем все, чтобы превратить Ваш автомобиль в индивидуальный, эксклюзивные супер-кар за разумные
                деньги…
                Тюнинг автомобилей, как создание эксклюзива для тех, кто желает иметь лучшее – это наша работа.
                Мы гордимся тем, что предоставляем клиентам качественные услуги: от консультирования по выбору программы
                автотюнинга и предоставления оперативной информации о новинках tuning -
                индустрии до профессионального кузовного ремонта и технического обслуживания автомобилей любых марок.

            </p>
        </div>

    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-md-6" data-aos="zoom-in-down" data-aos-delay="500" data-aos-duration="1000">
            <h3>КАЧЕСТВО - ЗАЛОГ УСПЕХА</h3>
            <p>
                Мы знаем, что Вы любите Ваш автомобиль и прекрасно понимаем насколько для Вас важно улучшить
                машину так, чтобы она отличалась от других и одновременно отлично Вам подходила.
                Для начала мы обеспечиваем клиентов всей необходимой информацией для того, чтобы Вы смогли
                выбрать наиболее подходящий Вам комплект. Мы даем наиболее детальную информацию о продукте, что
                его отличает от других брендов, каким машинам они подходят и каков процесс и срок установки,
                каковы гарантии качества и система возврата. Будем рады видеть Вас в нашем Московском офисе и
                сделаем все, чтобы превратить Ваш автомобиль в индивидуальный, эксклюзивные супер-кар за разумные
                деньги…
                Тюнинг автомобилей, как создание эксклюзива для тех, кто желает иметь лучшее – это наша работа.
                Мы гордимся тем, что предоставляем клиентам качественные услуги: от консультирования по выбору программы
                автотюнинга и предоставления оперативной информации о новинках tuning -
                индустрии до профессионального кузовного ремонта и технического обслуживания автомобилей любых марок.
            </p>
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000"><img src="~/IMG/s3.jpg" class="img-responsive" /></div>
    </div>
</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>
